Django==1.6.5
dj-database-url==0.3.0
dj-static==0.0.5
django-pylibmc-sasl==0.2.4
django-toolbelt==0.0.1
foursquare==20130707
gunicorn==18.0
httplib2==0.9
poster==0.8.1
psycopg2==2.5.3
pylibmc==1.3.0
pystache==0.5.4
static==1.0.2
wsgiref==0.1.2
